<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="../assets/css/owl.carousel.css">
    <link rel="stylesheet" href="../assets/css/owl.theme.css">
    <link rel="stylesheet" href="../assets/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="../assets/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="../assets/css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="../assets/css/main.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="../assets/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="../assets/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="../assets/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="../assets/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="../assets/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="../assets/css/calendar/fullcalendar.print.min.css">
    <!-- modals CSS
        ============================================ -->
    <link rel="stylesheet" href="../assets/css/modals.css">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="../assets/css/form/all-type-forms.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <!-- nalika Icon CSS
        ============================================ -->
    <link rel="stylesheet" href="../assets/css/nalika-icon.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="../assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <style type="text/css">
        .form-group-inner label{
            color: white;
            text-align: right;
        }
        .form-group-inner input[type="email"], .form-group-inner input[type="password"], .form-group-inner input[type="text"], .form-group-inner input[type="date"], .form-group-inner input[type="number"], .form-group-inner textarea,.form-select-list .custom-select-value{
            color: white ; 
        }

        .single-product-details h2{
            color: #e12503;
            font-size: 20px;
        }

        .single-product-details .color-quality-pro .email h1{
            text-transform: lowercase;
        }

        #pno::placeholder{
        	color: white;
        }


    </style>

</head>

<body>
    
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-wp">
											<div class="breadcomb-icon">
												<i class="icon nalika-home"></i>
											</div>
											<div class="breadcomb-ctn">
												<h2>Contacts</h2>
												<p>For creating account, contact the below admins. </p>
											</div>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-new-list-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="single-new-trend mg-t-30" style="text-align: center;">
                            <a href="#"><img src="../assets/img/new-product/5.png" alt=""></a>
                            <br><p style="color: white;">Name : Biswajeet<br>Phone No. : 9876543210<br>Email : abc@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="single-new-trend mg-t-30" style="text-align: center;">
                            <a href="#"><img src="../assets/img/new-product/5.png" alt=""></a>
                            <br><p style="color: white;">Name : Risita<br>Phone No. : 9876543210<br>Email : abc@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="single-new-trend mg-t-30" style="text-align: center;">
                            <a href="#"><img src="../assets/img/new-product/5.png" alt=""></a>
                            <br><p style="color: white;">Name : Krishna<br>Phone No. : 9876543210<br>Email : abc@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="single-new-trend mg-t-30" style="text-align: center;">
                            <a href="#"><img src="../assets/img/new-product/5.png" alt=""></a>
                            <br><p style="color: white;">Name : Santanu<br>Phone No. : 9876543210<br>Email : abc@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area mt-t-30 mg-b-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    	<div class="single-tb-pr">
                    		<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<ul id="myTab" class="tab-review-design">
										<li class="active"><a href="#reviews"> Form </a></li>
									</ul>
									<div id="myTabContent" class="tab-content">
										<div class="product-tab-list product-details-ect tab-pane fade active in" id="reviews">
											<div class="row">
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
													<div class="review-content-section">
														<div class="review-content-section">
															<div class="card-block">
																<div class="input-group mg-b-15 mg-t-15">
																	<span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
																	<input type="text" class="form-control" placeholder="User Name">
																</div>
																<div class="input-group mg-b-15">
																	<span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
																	<input type="number" class="form-control" placeholder="Phone Number">
																</div>
																<div class="input-group mg-b-15">
																	<span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
																	<input type="text" class="form-control" placeholder="Email">
																</div>
																<div class="input-group mg-b-15">
																	<span class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></span>
																	<textarea type="number" class="form-control" placeholder="Event Description" rows="5" id="pno" ></textarea>
																</div>
																
																<div class="form-group review-pro-edt mg-b-0-pr">
																	<button type="submit" class="btn btn-primary waves-effect waves-light">Submit
																		</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Basic Form End-->
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2020 | Designed with <i class="fa fa-heart" aria-hidden="true"></i> by Team CYBORG | Template from <a href="https://colorlib.com/wp/templates/" style="color: inherit;">Colorlib</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery
        ============================================ -->
    <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="../assets/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="../assets/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="../assets/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="../assets/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="../assets/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="../assets/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="../assets/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../assets/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="../assets/js/metisMenu/metisMenu.min.js"></script>
    <script src="../assets/js/metisMenu/metisMenu-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="../assets/js/tab.js"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="../assets/js/icheck/icheck.min.js"></script>
    <script src="../assets/js/icheck/icheck-active.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="../assets/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="../assets/js/main.js"></script>
</body>

</html>