<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/login.css" />
    <title>Project Sirius</title>
</head>

<body>
    <div class="login">
        <div class="formContainer">
            <div class="login-heading">
                <p class="text-a">Login</p>
            </div>
            <form id="loginForm">
                <div class="form-content">
                    <div class="form-field">
                        <label for="username">Email</label>
                        <input type="email" class="email" id="email" />
                        <span class="text-danger font-weight-bold" id="email-alert"></span>
                    </div>
                    <div class="form-field">
                        <label for="username">Password</label>
                        <input type="password" class="password" id="password" />
                        <span class="text-danger font-weight-bold" id="password-alert"></span>
                    </div>
                    <div class="form-field-checkbox">
                        <input type="checkbox" class="i-checks"> Remember me </label>
                    </div>
                    <div class="form-field">
                        <button>Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Optional JavaScript-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../assets/js/ajax/index.js"></script>
    <script src="../assets/js/ajax/login.js"></script>

</body>

</html>